body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url(../image/p591n1liy7j81.webp);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05) ;
    box-shadow: 0 0 20px rgba(89, 0, 255, 0.7);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.divBusca{
    width: 100px;
}
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #61dafb;
    color: black;
}
input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

